language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install pipenv
  - pipenv install --dev
script:
  - pipenv run flake8 setup.py briscas tests
  - pipenv run coverage run --source briscas -m py.test tests
  - pipenv run codecov
